.content{
    font-family: 'Poppins', sans-serif;
}

#background-auth{
    height: 625px;
    background: linear-gradient(180deg, #72DC58 0%, #3CD3A6 84.79%, #5DDEAF 99.99%, #3FBCAD 100%);
}

.form{
    position: absolute;
    margin-top: 180px;
    margin-left: 150px;
}

#link{
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

#logo-auth{
    display: block;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}



#svg-auth{
    position: fixed;
    width: 50%;
    height: 50%;
    left: -50px;
    bottom: -50px;
}