#page{
    background-color: #3CD3A6;
}

#navbar1{
    background-color: #3CD3A6;
}

#app-name{
    width: 20%;
    height: 20%;
    margin-left: 28px;
}

#navbar2{
    background-color: #677A68;
}

.nav-link{
    color: #FFFFFF !important;
    padding-right: 40px !important;
}

#menu{
    margin-left: 25px;
}

.d-flex{
    margin-right: 40px;
}