#page{
    background-color: #3CD3A6;
}

#navbar1{
    background-color: #3CD3A6;
}

#app-name{
    width: 20%;
    height: 20%;
    margin-left: 28px;
}

#navbar2{
    background-color: #677A68;
}

.nav-link{
    color: #FFFFFF !important;
    padding-right: 40px !important;
}

#menu{
    margin-left: 25px;
}

.d-flex{
    margin-right: 40px;
}

.beranda{
    background-color: #B5F3C7; 
}

#daftarPangan{
    padding-top: 120px;
    padding-bottom: 80px;
}

#pangan{
    padding-left: 150px;
    padding-right: 150px;
}

#card-Beranda{
    object-fit: contain;
}

#cardAbout{
    width: 600px;
    height: 100%;
}
